@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body  {
    background-color: #16161F;
    height: 100vh;
    color:#FAFAFA ;
    font-family: 'Nunito', sans-serif;
}

.container {
    width: 100%;
    max-width: 504px;
    margin: 58px auto 0px;
    text-align: center;
}

.container img {
    margin-bottom: 8rem;
}

#welcome {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#welcome p {
    margin-bottom: 56px;
}

#welcome input {
    height: 50px;
    background-color: #1E1E29;
    color: #7F7F98;
    font-size: 16px;
    padding: 0px 20px;
    border: 1px solid #7F7F98;
    outline: none;
    border-radius: 8px;
}

.hide {
    display: none;
}

.dash {
    padding: 24px 24px;
}

#container {
    display: flex;
    justify-content: space-between;
}

#card {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#actions {
    display: flex;
    gap: 1rem;
}

#actions button {
    display: flex;
    width: 46px;
    height: 46px;
    padding: 8px;
    justify-content: center;
    align-items: center; 
    border-radius: 8px;
    background: #1E1E29;
    border: 1px solid #7F7F98;
}

#actions input {
    display: flex;
    height: 46px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0; 
    background-color: #1E1E29;
    color: #BFBFD4;
    border-radius: 8px;
    border: 1px solid #7F7F98;
    outline: none;
}

.Today {
    width: 100%;
    border-radius: 12px;
    border: 1px solid #1E1E29;
    background: url(./Assets/Weather=Clear\,\ Moment=Night.png) no-repeat top center / cover;
}

#info-today {
    display: flex;
    justify-content: space-between;
    margin: 32px;
    padding: 5px;
    letter-spacing: 2px;
}

#info-today div {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

#Weather {
    display: flex;
    flex-direction: column;
    padding: 4px;
    gap: .5rem;
    margin: 280px 339px 32px 32px;
}

#Weather h1 {
    font-size: 96px;
    letter-spacing: 4px;
}

#detail {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    letter-spacing: 4px;
    font-size: 13px;
}

#icons {
    margin: -270px 0px 0px 384px;
}

#icons img {
    width: 248px;
    height: 248px; 
}

#info {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 20px;
}

#weather-detail {
    display: flex;
    padding: 28px 24px 8px 24px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0; 
    border-radius: 12px; 
    background-color: #1C1C27;
}

#detail-icon {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#detail-icon li{
    display: flex;
    padding: 16px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: #BFBFD4;
    border-bottom: 1px solid #3B3B55; 
}

#detail-icon h4 {
    color: #FAFAFA;
    margin-left: 385px;
}

#next-day {
    display: flex;
    padding: 28px 24px 24px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 12px; 
    background-color: #1C1C27;
}

#detail-next-day {
    list-style: none;
    display: flex;
}

@media screen and (min-width:410px) and (max-width:790px) {

   .container {
    padding: 10px;
   }

   #container {
    display: flex;
    flex-direction: column;
   }

   #icons {
    display: none;
   }

   #detail-icon h4 {
    margin-left: 185px;
   }

   #detail-next-day {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
   }
}